@import "shared.css";
@import "timeline.css";

#spacer{
height: 3rem;
}

.proj-image {
    width: 100%;
    max-height: 100%;
    margin-bottom: 2rem;
}

.timeline-item {
    padding: 1rem;
    border-top: solid 2px #D6DCE0;
}

    .timeline-item:before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -0.8rem;
        
    }

    .timeline-item.complete {
        border-top: 2px solid #66DC71;
        font-color: #66DC71;
        background-color: rgb(102, 220, 113, 0.2);
    }

    .timeline-item.complete:before {
        background-color: #66DC71;
        border: 1px solid #66DC71;
    }

    .timeline-item:hover:before {
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }


.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li {
    transition: all 200ms ease-in;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.li:hover {
    transform: scale(1.1);
}

.status h4 {
    font-weight: 600;
    margin-top: 1rem;
}

.status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li.complete .status {
    border-top: 2px solid #66DC71;
}

    .li.complete .status:before {
        background-color: #66DC71;
        border: none;
        transition: all 200ms ease-in;
    }

    .li.complete .status h4 {
        color: #66DC71;
    }

@media screen and (max-width: 768px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }

    .container{

    }

    #spacer {
        height: 4rem;
    }
}
  