@import "shared.css";
@import "timeline.css";

#spacer{
height: 5rem;
}

.proj-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.timeline-item {
    padding: 2rem;
    border-top: solid 2px #D6DCE0;
    transition: all 200ms ease-in;
}

    .timeline-item:before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -1rem;
        
    }

    .timeline-item.complete {
        border-top: 2px solid #66DC71;
        color: #66DC71;
        background-color: rgba(102, 220, 113, 0.2);
    }

    .timeline-item.complete:before {
        background-color: #66DC71;
        border: 1px solid #66DC71;
    }

    .timeline-item:hover {
        transition: all 200ms ease-in;
        text-decoration: underline;
    }

    .timeline-item:hover:before {
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }




  