@page
@{
    ViewData["Title"] = "Vragenlijst";
}
<P>
    1.Wat wilt u het liefste in Atwerpen:<BR>
    <input type="vraag" name="3. The word which means suitcase is" value="Zwembad">Zwembad<BR>
    <input type="vraag" name="3. The word which means suitcase is" value="Casino">Casino<BR>
    <input type="vraag" name="3. The word which means suitcase is" value="Park">Park<BR>
    <input type="vraag" name="3. The word which means suitcase is" value="Winkelcentrum">Winkelcentrum<BR>
</P>