@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Gelukt!";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div style="height:9rem"></div>
    <div class="container" style="min-height:495px">
        <div class="col-md-8 col-12">
            <h3>Uw vragenlijst is verzonden, dank u wel! Klik <a asp-controller="Home" asp-action="Index">hier</a> om naar de home pagina te gaan.</h3>
        </div>
    </div>
</body>
</html>
