@{
    ViewData["Title"] = "Vragenlijst";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <TITLE>Stem pagina</TITLE>
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>
<body class="container">
    <div id="spacer"></div>
    <div class="jumbotron row">
        <div class="col-8">
            <h3>Stem op Project Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</h3>
            <br>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut aliquam libero, sit amet venenatis orci. Mauris at leo eu ante suscipit ultrices at nec dui. Aliquam placerat malesuada erat, ut ultrices erat ultrices ac. Curabitur in mollis augue. Nulla luctus magna nisi, nec fringilla est tincidunt eu. Phasellus ultricies leo vel sapien consectetur, vel ullamcorper quam finibus. Quisque sit amet consequat metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at nibh egestas, aliquet dolor vitae, consectetur nisi. </p>
            </article>
        </div>
        <div class="col-4">
            @*
                <video width="320" height="240" controls>
                    <source src="projX.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            *@
            <img src="~/images/projectX.jpg" width="320" height="240" />
        </div>
        <div class="col-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Keuze 1
                </label>
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Keuze 2
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Keuze 3
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Keuze 4
                </label>
            </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg stem-stem">Stem</button>
        </div>
    </div>
</body>
</html>
