<!DOCTYPE html>
<html lang="en">
<head>
    <TITLE>Vragenlijst</TITLE>
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <ul class="fa-wordpress-simple nested">
            <li>
                <div class="comment">
                    <p><a href="">zeezrerrez</a></p>
                    <em> vandaag</em>
                    <p>heelee hoop tekst hier enzo</p>
                    <p><a href="">Reply</a></p>
                </div>
            </li>
            <ul>
                <li>
                    <div class="comment">
                        <p><a href="">zeezrerrez</a></p>
                        <em> vandaag</em>
                        <p>heelee hoop tekst hier enzo</p>
                        <p><a href="">Reply</a></p>
                    </div>
                </li>
            </ul>
            <li>
                <div class="comment">
                    <p><a href="">zeezrerrez</a></p>
                    <em> vandaag</em>
                    <p>heelee hoop tekst hier enzo</p>
                    <p><a href="">Reply</a></p>
                </div>
            </li>
        </ul>
    </div>
</body>

