<!DOCTYPE html>
<html lang="en">
<head>
    <TITLE>Vragenlijst</TITLE>
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>

<h1>Hoe ziet u de nieuwe speeltuin</h1>
<br />
<h3>antwoord 1</h3>
<div class="btn-group">
    <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <div>10</div>
</div>

<h3>antwoord 2</h3>
<div class="btn-group">
    <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <div>26</div>
</div>

<h3>antwoord 3</h3>
<div class="btn-group">
    <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <p>28</p>
</div>

<h3>antwoord 4</h3>
<div class="btn-group">
    <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <div>36</div>
</div>

<h3>antwoord 5</h3>
<div class="btn-group">
    <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <div>1</div>
</div>


