@{
    ViewData["Title"] = "Ideation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>

<body>
    @*
        <div class="container">
            <ul class="fa-wordpress-simple nested">
                <li>
                    <div class="comment">
                        <p><a href="">zeezrerrez</a></p>
                        <em> vandaag</em>
                        <p>heelee hoop tekst hier enzo</p>
                        <div class="btn-group">
                            <img src="~/images/Sociale media/duimpje-omhoog-png-2.png" alt="Like" width="10" height="10" /> <div>10</div>
                        </div>
                        <p><a href="">Reply</a></p>
                        <ul>
                    </div>
                </li>
                <ul>
                <li>
                        <div class="comment">
                            <p><a href="">zeezrerrez</a></p>
                            <em> vandaag</em>
                            <p>heelee hoop tekst hier enzo</p>
                            <p><a href="">Reply</a></p>
                        </div>
                    </li>
                </ul>
                <li>
                    <div class="comment">
                        <p><a href="">zeezrerrez</a></p>
                        <em> vandaag</em>
                        <p>heelee hoop tekst hier enzo</p>
                        <p><a href="">Reply</a></p>
                    </div>
                </li>
            </ul>
        </div>
    *@
    <div class="container" style="border-color:black">
        <p>hey</p>
    </div>
</body>
</html>

