@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html lang="en">
<head>
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>
<body>
    <div id="spacer"></div>
@*
    <div class="jumbotron row">
        <div class="col-sm-4 col-12">
            <img src="https://via.placeholder.com/450x300?text=Project-image" alt="Project image" class="img-thumbnail proj-image">
        </div>
        <div class="col-sm-8 col-12">
            <h2>Titel here</h2>
            <br>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut aliquam libero, sit amet venenatis orci. Mauris at leo eu ante suscipit ultrices at nec dui. Aliquam placerat malesuada erat, ut ultrices erat ultrices ac. Curabitur in mollis augue. Nulla luctus magna nisi, nec fringilla est tincidunt eu. Phasellus ultricies leo vel sapien consectetur, vel ullamcorper quam finibus. Quisque sit amet consequat metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at nibh egestas, aliquet dolor vitae, consectetur nisi. </p>
            </article>
            <form asp-controller="Stem" asp-action="Index">
                <button type="submit" class="btn btn-primary btn-lg">Stem</button></form>              
        </div>
    </div>
    *@
    <div class="jumbotron row">
        <div class="col-8">
            <h3>Stem op Project Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</h3>
            <br>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut aliquam libero, sit amet venenatis orci. Mauris at leo eu ante suscipit ultrices at nec dui. Aliquam placerat malesuada erat, ut ultrices erat ultrices ac. Curabitur in mollis augue. Nulla luctus magna nisi, nec fringilla est tincidunt eu. Phasellus ultricies leo vel sapien consectetur, vel ullamcorper quam finibus. Quisque sit amet consequat metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at nibh egestas, aliquet dolor vitae, consectetur nisi. </p>
            </article>
        </div>
        <div class="col-4">
            @*
                <video width="320" height="240" controls>
                    <source src="projX.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            *@
            <img src="~/images/projectX.jpg" width="320" height="240" />
        </div>
        <div class="col-8">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Keuze 1
                </label>
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Keuze 2
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Keuze 3
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Keuze 4
                </label>
            </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg stem-stem">Stem</button>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><b>project started</b><br />01/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><b>fase 2</b><br />03/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><b>fase 3</b><br />14/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><b>eindfase</b><br />07/05/2019</div>
        </div>
    </div>

<div class="jumbotron">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <h2>Fase 1</h2>
                    <br>
                    <br>
                    <p>Dit is plaats voor fase 1</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <h2>Fase 2</h2>
                    <br>
                    <br>
                    <p>Dit is plaats voor fase 2</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <h2>Fase 3</h2>
                    <br>
                    <br>
                    <p>Dit is plaats voor fase 3</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <h2>Fase 4</h2>
                    <br>
                    <br>
                    <p>Dit is plaats voor fase 4</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

    
    <h2>Fase X</h2>
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <div class="card-body" style="max-width:350px">
                            <p class="card-text">Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</p>
                        </div>
                    </div>

                    <div style="overflow-y: scroll; height:400px; min-width:580px; margin-top:50px">
                        <div class="card">
                            <div class="card-body" style="max-width:500px;">
                                <h5 class="card-title">Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</h5>
                                <img class="card-img-bottom" src="~/images/portfolio/thumbnails/brugProject.jpg" alt="Card image cap">
                                <div class="d-flex justify-content-between align-items-center" style="margin-top:20px">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-share">Share</i> </button>
                                    </div>
                                </div>
                                <p>Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice Ik ben echt nice</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" style="max-width:500px;">
                                <h5 class="card-title">Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</h5>
                                <img class="card-img-bottom" src="~/images/portfolio/thumbnails/brugProject.jpg" alt="Card image cap">
                                <div class="d-flex justify-content-between align-items-center" style="margin-top:20px">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-share">Share</i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" style="max-width:500px;">
                                <h5 class="card-title">Ontwerpteam voor nieuwe Krugerbrug in Hoboken gekend.</h5>
                                <img class="card-img-bottom" src="~/images/portfolio/thumbnails/brugProject.jpg" alt="Card image cap">
                                <div class="d-flex justify-content-between align-items-center" style="margin-top:20px">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-share">Share</i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column" style="max-width:500px">
                    <div class="detailBox">
                        <div class="titleBox">
                            <label>Comment Box</label>
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                        </div>
                        <div class="commentBox">

                            <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="actionBox">
                            <ul class="commentList">
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://placekitten.com/50/50" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">49 Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-comment">17 Comment</i> </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://placekitten.com/45/45" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">15 Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-comment">2 Comment</i> </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="commenterImage">
                                        <img src="http://placekitten.com/40/40" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-thumbs-up">3 Like</i> </button>
                                        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-comment">0 Comment</i> </button>
                                    </div>
                                </li>
                            </ul>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your comments" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 


</body>
</html>
