@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html lang="en">
<head>
    <link href="~/css/Project/project.css" rel="stylesheet" />
</head>
<body>
    <div id="spacer"></div>
    <div class="jumbotron row">
        <div class="col-sm-4 col-12">
            <img src="https://via.placeholder.com/450x300?text=Project-image" alt="Project image" class="img-thumbnail proj-image">
        </div>
        <div class="col-sm-8 col-12">
            <h2>Titel here</h2>
            <br>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut aliquam libero, sit amet venenatis orci. Mauris at leo eu ante suscipit ultrices at nec dui. Aliquam placerat malesuada erat, ut ultrices erat ultrices ac. Curabitur in mollis augue. Nulla luctus magna nisi, nec fringilla est tincidunt eu. Phasellus ultricies leo vel sapien consectetur, vel ullamcorper quam finibus. Quisque sit amet consequat metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin at nibh egestas, aliquet dolor vitae, consectetur nisi. </p>
            </article>
            <form asp-controller="Stem" asp-action="Index">
                <button type="submit" class="btn btn-primary btn-lg">Stem</button></form>
            
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete"><b>project started</b><br />01/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete"><b>fase 2</b><br />03/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item complete"><b>fase 3</b><br />14/04/2019</div>
        </div>
        <div class="col-sm-6 col-md">
            <div class="timeline-item"><b>eindfase</b><br />07/05/2019</div>
        </div>
    </div>


    <div class="jumbotron row">
        <h2>Fase X</h2>
    </div>


</body>
</html>
