@import "shared.css";

#spacer {
    height: 3rem;
}

.container{
    max-height: 100vh;
}

.jumbotron{
    height: auto;
}

.stem-stem{
    float: right;
    margin-top: 5rem; 
    width: 100%;
    height: auto;
}

.btn-group{
    margin-top: 5rem; 
    width: 80%;
}