@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
    <!-- Portfolio Section -->
    <div style="height:8rem"></div>
    <div class="limiter" id="backgroundLogin">
        <div class="container" style="align-content:center">
            <div class="row" style="margin-top:50px; margin-bottom:100px; align-content:center">
                @foreach (CID.BL.Domain.Project proj in ViewBag.projects)
                {

                    <div class="card" style="width: 37rem; height: 43rem; margin-right:10px; margin-bottom:10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                        <div style="margin-top:5px">
                            <h3 style="height:40px; font-weight:bold" ;>@proj.Title</h3>
                        </div>
                        <hr />
                        <a asp-controller="Project" asp-action="Index" asp-route-id="@proj.ID"><img class="card-img-top" src="~/@proj.Image" style="border: 1px solid white; border-radius: 4px;padding: 5px;"></a>
                        <hr />
                        <div class="card-block" style="display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp:5; -webkit-box-orient:vertical;">
      
                            <p class="overflow-hidden" style="font-size: 14px; color:black ">@proj.Text</p>
                            <div style="text-align:left;"><a style="font-size:14px; color:orange;" asp-controller="Project" asp-action="Index" asp-route-id="@proj.ID">Meer weergeven</a></div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
